{{ if .Site.Params.intro }}
    <div class="post-intro" >
        {{ if .Site.Params.avatar }}
            <div class="post-header-logo" >
                <a href=" {{.Site.BaseURL }}">
                    <img class="logo" src="{{ .Site.BaseURL }}images/{{ .Site.Params.avatar.url }}"
                        width="{{ .Site.Params.avatar.width }}" 
                        height="{{ .Site.Params.avatar.height }}" 
                        style="border-radius: 50%;"
                        alt="{{ .Site.Params.avatar.alt }}"/>
                </a>
            </div>
            <header class="post-header with-logo">
                <h1 class="post-title" itemprop="name">{{ .Site.Params.headline }}</h1>
                <p>{{ .Site.Params.description }}</p>
            </header>
            {{ else }}
            <header class="post-header">
                <h1 class="post-title" itemprop="name">{{ .Site.Params.headline }}</h1>
                <p>{{ .Site.Params.description }}</p>
            </header>
        {{ end }}
    </div>
{{ end }}
